<div id="headerWrap">
  
      <div id="headerWrapContent">
  
        <div id="headerLogo">
          <img class="rounded-circle logo" src="../assets/images/Rough_Logo_1_no_circle.png" />
        </div>
  
        <div id="headerWrapContact">
  
          <div id="headerWrapContactText">
            <h1>
              Dale's Nature Shack
            </h1>
            <h2>
              <i class="fa fa-key" aria-hidden="true"></i> 100% Natural Products is key <i class="fa fa-key" aria-hidden="true"></i>
            </h2>
          </div>
    
          <div id="headerWrapContactForm">
            <span>Get notified when we launch!</span>
            <form>
              <input type="text" class="inputFields" id="name" value="NAME" />
              <input type="text" class="inputFields" id="eMail" value="E-MAIL" />
              <input type="text" class="inputFields" id="phone" value="PHONE" />
              <input type="submit" class="inputFields" id="submit" value="NOTIFY ME!" />
            </form>
          </div>
    
        </div>
  
      </div>
    </div>