.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fa {
    margin-left: 10px;
}

.logo {
    height: 75px;
}

#Name {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding-left: 15px;
}

#ComingSoon {
    width: 100%;
}

.products {
    padding-bottom: 10px;
}