<app-navbar></app-navbar>
<div id="headerWrap">
    
    <div id="headerWrapContent">
  
      <div id="headerLogo">
        <img class="rounded-circle logo" src="../../assets/images/Rough_Logo_1_no_circle.png" />
      </div>
  
      <div id="headerWrapContact">
  
        <div id="headerWrapContactText">
  
          <h2>
            <i class="fa fa-key" aria-hidden="true"></i> ~ Nature is key ~ <i class="fa fa-key" aria-hidden="true"></i>
          </h2>
        </div>
  
        <div id="headerWrapContactForm">
          <span>Get notified when we launch!</span>
          <form>
            <input type="text" class="inputFields" id="name" value="NAME" />
            <input type="text" class="inputFields" id="eMail" value="E-MAIL" />
            <input type="text" class="inputFields" id="phone" value="PHONE" />
            <!-- <input type="submit" class="inputFields" id="submit" value="NOTIFY ME!" /> -->
          </form>
          <button class="btn btn-primary" data-toggle="modal" href="#myModal">
            NOTIFY ME!!
          </button>
  
        </div>
  
      </div>
  
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal hide" id="myModal"><!-- note the use of "hide" class -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="https://media.giphy.com/media/l4FGmO3MZkGng9Bp6/giphy.gif" width="480" height="342" />
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>​